<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Enable Spring to automatically manage transactions -->
    <tx:annotation-driven/>

    <!-- JPA EntityManagerFactory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="GameDev"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
    </bean>

    <!-- DataSource configuration for H2 database -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:~/gameDevdb;AUTO_SERVER=TRUE;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- Transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Game DAO Bean -->
    <bean id="gameDao" class="com.gameDev.dao.impl.GameDaoImpl" />

    <!-- Game Service Bean -->
    <bean id="gameService" class="com.gameDev.service.impl.GameServiceImpl">
        <constructor-arg ref="gameDao" />
    </bean>

    <!-- DAO and Service Beans (Example with Tournoi) -->
    <bean id="tournamentDao" class="com.gameDev.dao.impl.TournamentDaoImpl"/>

    <bean id="tournamentService" class="com.gameDev.service.impl.TournamentServiceImpl">
        <property name="tournamentDao" ref="tournamentDao"/>
    </bean>

</beans>
